<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @recipe.author %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @recipe.rate %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @recipe.difficulty %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @recipe.budget %>
</p>

<p>
  <strong>Prep time:</strong>
  <%= @recipe.prep_time %>
</p>

<p>
  <strong>Total time:</strong>
  <%= @recipe.total_time %>
</p>

<p>
  <strong>People quantity:</strong>
  <%= @recipe.people_quantity %>
</p>

<p>
  <strong>Author tip:</strong>
  <%= @recipe.author_tip %>
</p>

<p>
  <strong>Ingredients:</strong>
  <% @recipe.ingredients.each do |ingredient| %>
    <%=ingredient%>,
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Tags:</strong>
  <% @recipe.tags.each do |tag| %>
    <%=tag%>,
  <% end %>
</p>

<p>
  <strong>Image:</strong>
  <%= @recipe.image %>
</p>

<p>
  <strong>Nb comments:</strong>
  <%= @recipe.nb_comments %>
</p>

<p>
  <strong>Cook time:</strong>
  <%= @recipe.cook_time %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
